node_modules/
dist/
esnext/
bundle/
coverage/
typings/
.scratch/
.nyc_output/
packages/*/src/**/*.js
packages/*/src/**/*.d.ts
packages/*/test/**/*.js
packages/*/test/**/*.d.ts

package-lock.json
*.log
*.docs.json
.DS_Store
startup.js
custom_typings/
