node_modules/
dist/
esnext/
bundle/
coverage/
typings/
.scratch/
.nyc_output/
packages/@storefront/*/src/**/*.js
packages/@storefront/*/src/**/*.d.ts
packages/@storefront/*/test/**/*.js
packages/@storefront/*/test/**/*.d.ts

package-lock.json
*.log
*.docs.json
.DS_Store
startup.js
custom_typings/
